/* App.css */
body {
  margin: 0;
  padding: 0;
}

.app-container {
  /* Add any container styles you need for the whole page */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 30px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left button {
  /* Apply styles to the "Home" button */
  background-color: #5097a0;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 5px;
}

.header-left button:hover {
  /* Add hover effect if desired */
  background-color: #966985;
}

.header-left button:focus {
  /* Add focus effect if desired */
  outline: none;
  box-shadow: 0 0 0 4px #5097a0;
}

.header-left button:active {
  /* Add active (click) effect if desired */
  background-color: #932088;
}

/* Center the text in the button */
.header-left button {
  display: flex;
  align-items: center;
}

.header-left button svg {
  /* Add optional styling for the SVG icon (if you have one) */
  margin-right: 8px;
  /* Adjust this value for spacing between icon and text */
}

.header-right {
  display: flex;
  align-items: center;
  /* Center the buttons vertically */
}

.header-right button {
  background-color: white;
  color: #5097a0;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 5px;
  /* Adjust this value to add spacing between buttons */
  white-space: nowrap;
  /* Add this property to prevent line breaks */
}

/* Push the buttons to the right side */
.header-left,
.header-right {
  flex: 1;
  /* This will make them share the available space equally */
}

.header-right {
  justify-content: flex-end;
  /* This will push the buttons to the right */
}

/* Add spacing between buttons in the header */
.header-right button:not(:last-child) {
  margin-right: 5px;
}

.carousel-container {
  text-align: center;
  background-color: #53778161;
  padding: 20px;
  width: 100%;
  
}

.logo-container img {
  max-width: auto;
  height: 500px;
}

.aboutUs-container {
  padding: 20px;
  border: 2px solid #ccc;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Increase the font size for the About Us content */
.aboutUs {
  font-size: 18px;
  line-height: 1.6;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

.App-header {
  font-size: 1rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding-bottom: 2rem;
}

.carousel-images {
  position: relative;
  border-radius: 10px;
  height: 400px;
  max-width: 650px;
  margin: auto;
  overflow: hidden;
}

.carousel-images img {
  width: 99%;
  height: 99%;
  border-radius: 8px;
  border: #ff00008e solid 2px;
}

.slide_direction {
  display: flex;
  justify-content: space-between;
}

.left,
.right {
  background-color: #fb666675;
  color: #fff;
  padding: 10px 8px 8px 13px;
  margin: 0 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  height: 25px;
  width: 25px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.carousel-indicator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dot {
  background-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.active {
  background-color: #fa2020;
}