/* Home.css */
.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    /* Add a soft box shadow */
    border-radius: 8px;
    /* Add border radius for a rounded look */
    text-align: center;
    /* Center the content */
}

.about-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #666;
    line-height: 1.6;
}

.about-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    margin-bottom: 30px;
}

.about-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 16px;
    line-height: 1.6;
}