/* GetInvolved.css */
.get-involved-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    animation: fadeIn 1s;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.get-involved-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.get-involved-image {
    flex: 1;
    text-align: center;
}

.get-involved-image img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.get-involved-text {
    flex: 2;
    padding: 0 20px;
}

.get-involved-text p {
    font-size: 16px;
    line-height: 1.6;
}

.get-involved-form {
    text-align: center;
}

.get-involved-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.get-involved-form form {
    max-width: 500px;
    margin: 0 auto;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 150px;
}

.get-involvedButton {
    padding: 10px 20px;
    background-color: #5097a0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.get-involvedButton:hover {
    background-color: #754283;
}

/* Animation keyframes */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}