/* Basket.css */
.basket-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    animation: fadeIn 1s;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.selected-package {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
}

.selected-package-image {
    flex: 1;
    text-align: center;
}

.selected-package-image img {
    max-width: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.selected-package-info {
    flex: 2;
    padding: 0 20px;
}

.selected-package-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.selected-package-info p {
    font-size: 16px;
    line-height: 1.6;
}

.package-price {
    font-size: 18px;
    margin-bottom: 10px;
}

.basketButton {
    padding: 10px 20px;
    background-color: #5097a0;;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.basketButton:hover {
    background-color: #754283;
}

/* Animation keyframes */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}